<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <meta charset="UTF-8">
  <title>Сеть ЭЗС</title>
</head>
<body>
<div class="container">
  <h1>Создание пользователя</h1>
  <form th:action="@{/user}" th:method="POST" th:object="${user}">
    <table>
      <tbody>
      <tr>
        <th>Логин</th>
        <td><input type="text" th:name="username" th:field="*{username}" placeholder="Логин" minlength="4"
                   required="required"></td>
      </tr>
      <tr>
        <th>Пароль</th>
        <td><input type="text" th:name="password" th:field="*{password}" placeholder="Пароль" minlength="4"
                   required="required"></td>
      </tr>
      <tr>
        <th>Имя</th>
        <td><input type="text" th:name="firstName" th:field="*{firstName}" placeholder="Имя" minlength="4"
                   required="required"></td>
      </tr>
      <tr>
        <th>Фамилия</th>
        <td><input type="text" th:name="lastName" th:field="*{lastName}" placeholder="Фамилия" minlength="3"
                   required="required"></td>
      </tr>
      <tr>
        <th>UID</th>
        <td><input type="text" th:name="uid" th:field="*{uid}" placeholder="UID RFID карты" minlength="8" maxlength="8">
        </td>
      </tr>
      </tbody>
    </table>
    <button class="btn btn-lg btn-primary btn-block">Создать</button>
  </form>
  <form class="form" th:action="@{/user/managerPanel}" th:method="get">
    <button class="btn btn-lg btn-primary btn-block">Назад</button>
  </form>
</div>
</body>
</html>