<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <meta charset="UTF-8">
  <title>Сеть ЭЗС</title>
</head>
<body>
<div class="container">
  <h1>Панель управления</h1>
  <form class="form" th:action="@{/user/create}" th:method="get">
    <button class="btn btn-lg btn-primary btn-block">Добавить нового пользователя</button>
  </form>
  <form class="form" th:action="@{/user}" th:method="get">
    <button class="btn btn-lg btn-primary btn-block">Список пользователей</button>
  </form>
  <form th:action="@{/}" th:method="get">
    <button class="btn btn-lg btn-primary btn-block">На главную страницу</button>
  </form>
</div>
</body>
</html>