<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/css/styles.css">
  <meta charset="UTF-8">
  <title>Сеть ЭЗС</title>
</head>
<body>
<div>
  <div>
    <h1>Редактирование пользователя</h1>
    <form th:action="@{/user/{id}(id=${user.userId})}" th:method="PUT" th:object="${user}">
      <div>
        <input type="text" th:value="*{username}" th:name="username" th:field="*{username}" placeholder="Логин">
      </div>
      <div>
        <input type="text" th:value="*{firstName}" th:name="firstName" th:field="*{firstName}" placeholder="Имя">
      </div>
      <div>
        <input type="text" th:value="*{lastName}" th:name="lastName" th:field="*{lastName}" placeholder="Фамилия">
      </div>
      <div>
        <input type="text" th:value="*{uid}" th:name="uid" th:field="*{uid}" placeholder="UID RFID карты" minlength="8"
               maxlength="8">
      </div>
      <button type="submit">Сохранить изменения</button>
      <br/>
    </form>
  </div>
  <div>
    <form th:action="@{/role/{id}(id=${user.userId})}" th:method="get">
      <button>Изменить права пользователя</button>
    </form>
  </div>
  <div>
    <form th:action="@{/user/{id}(id=${user.userId})}" th:method="delete">
      <button>Удалить пользователя</button>
    </form>
  </div>
  <a th:href="@{/user}">К списку пользователей</a>
</div>
</body>
</html>