<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <title>Сеть ЭЗС</title>
</head>
<body>
<div>
    <h1>Список пользователей</h1>
    <table>
        <thead>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Должность</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${users}">
            <td><a th:href="@{/user/{id}/update(id=${user.userId})}" th:text="${user.firstName}">firstName</a></td>
            <td th:text="${user.lastName}">lastName</td>
            <td>
                <span th:each="role: ${user.roles}"
                      th:with="roleName=' ' + ${role.description} + ' '"
                      th:text="${roleName}">
                </span>
            </td>

        </tr>
        </tbody>
    </table>
    <a th:href="@{/user/managerPanel}">Назад</a>
</div>
</body>
</html>