<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/css/styles.css">
  <meta charset="UTF-8">
  <title>Сеть ЭЗС</title>
</head>
<body>
<div>
  <h1>Главная страница</h1>
  <a th:href="@{/user/{id}(id=${user.getUserId})}">Профиль</a>
  <a th:href="@{/station}">Список станций</a>
  <th:block th:if="${roles.contains('ROLE_ADMIN') or roles.contains('ROLE_MANAGER_USER')}">
    <a th:href="@{/user/managerPanel}">Панель управления пользователями</a>
  </th:block>
  <th:block th:if="${roles.contains('ROLE_ADMIN') or roles.contains('ROLE_MANAGER_STATION')}">
    <a th:href="@{/station/managerPanel}">Панель управления станциями</a>
  </th:block>
  <a th:href="@{/logout}">Выход</a>
</div>
</body>
</html>