<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <meta charset="UTF-8">
  <title>Сеть ЭЗС</title>
</head>
<body>
<div class="container">
  <div>
    <h1>Изменить права доступа пользователя</h1>
    <table>
      <tbody>
      <tr>
        <th>Имя</th>
        <td th:text="${user.firstName}"></td>
      </tr>
      <tr>
        <th>Фамилия</th>
        <td th:text="${user.lastName}"></td>
      </tr>
      <tr>
        <th>Должность пользователя</th>
        <td th:each="role: ${user.roles}">
          <form th:action="@{/role/{userId}/{roleId}(userId=${user.userId}, roleId=${role.roleId})}" th:method="delete">
            <input type="submit" th:value="${role.description}">
          </form>
        </td>
      </tr>
      <tr>
        <th>Добавить права доступа</th>
        <td th:each="role: ${roles}">
          <form th:action="@{/role/{userId}/{roleId}(userId=${user.userId}, roleId=${role.roleId})}" th:method="put">
            <input type="submit" th:value="${role.description}">
          </form>
        </td>
      </tr>
      <tr>

      </tr>
      </tbody>
    </table>
    <form class="form" th:action="@{/user}" th:method="get">
      <button class="btn btn-lg btn-primary btn-block">К списку пользователей</button>
    </form>
  </div>
</div>
</body>
</html>