<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <meta charset="UTF-8">
    <title>Сеть ЭЗС</title>
</head>
<body>
<div>
    <h1>Создание станции</h1>
    <form th:action="@{/station}" th:method="POST" th:object="${station}">
        <div>
            <input type="text" th:name="stationName" th:field="*{stationName}" placeholder="Название" minlength="4" required="required">
        </div>
        <div>
            <input type="text" th:name="login" th:field="*{login}" placeholder="Логин" minlength="4" required="required">
        </div>
        <div>
            <input type="text" th:name="password" th:field="*{password}" placeholder="Пароль" minlength="4" required="required">
        </div>
        <div>
            <select th:field="*{address}">
                <option th:each="a: ${addresses}"
                        th:text="${a}"
                        th:value="${a.addressId}">Address
                </option>
            </select>
        </div>
        <div>
            <select th:field="*{vendor}">
                <option th:each="v: ${vendors}"
                        th:text="${v.companyName}"
                        th:value="${v.vendorId}">vendor
                </option>
            </select>
        </div>
        <div>
            <select th:field="*{manager}">
                <option th:each="user: ${users}"
                        th:text="|${user.firstName} ${user.lastName}|"
                        th:value="${user.userId}">user
                </option>
            </select>
        </div>
        <button type="submit">Создать!</button><br/>
    </form>
    <a th:href="@{/station/managerPanel}">Назад</a>
</div>
</body>
</html>