<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
  <meta charset="UTF-8">
  <title>Сеть ЭЗС</title>
</head>
<body>
<div class="container">
  <h1>Профиль зарядной станции</h1>
  <table>
    <tbody>
    <tr>
      <th>Название станции</th>
      <td th:text="${station.stationName}"></td>
    </tr>
    <tr>
      <th>Адрес</th>
      <td th:text="${station.address}"></td>
    </tr>
    <tr>
      <th>Менеджер станции</th>
      <td th:if="${station.manager != null}" th:text="|${station.manager.firstName} ${station.manager.lastName}|"></td>
    </tr>
    <tr>
      <th>Поставщик</th>
      <td th:text="${station.vendor.companyName}"></td>
    </tr>
    <tr>
      <th>Служба поддержки</th>
      <td th:text="${station.vendor.phoneSupportService}"></td>
    </tr>
    </tbody>
  </table>
  <form class="form" th:action="@{/station/{id}/update(id=${station.stationId})}" th:method="get">
    <button class="btn btn-lg btn-primary btn-block">Изменить данные</button>
  </form>
  <form class="form" th:action="@{/}" th:method="get">
    <button class="btn btn-lg btn-primary btn-block">На главную страницу</button>
  </form>
</div>
</body>
</html>