<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" href="/css/styles.css">
  <meta charset="UTF-8">
  <title>Сеть ЭЗС</title>
</head>
<body>
<div>
  <h1>Профиль зарядной станции</h1>
  <table>
    <tbody>
    <tr>
      <th>Название станции</th>
      <td th:text="${station.stationName}"></td>
    </tr>
    <tr>
      <th>Адрес</th>
      <td th:text="${station.address}"></td>
    </tr>
    <tr>
      <th>Менеджер станции</th>
      <td th:if="${station.manager != null}" th:text="|${station.manager.firstName} ${station.manager.lastName}|"></td>
    </tr>
    <tr>
      <th>Поставщик</th>
      <td th:text="${station.vendor.companyName}"></td>
    </tr>
    <tr>
      <th>Служба поддержки</th>
      <td th:text="${station.vendor.phoneSupportService}"></td>
    </tr>
    </tbody>
  </table>
  <div>
    <form th:action="@{/}" th:method="get">
      <button>На главную страницу</button>
    </form>
  </div>
</div>
</body>
</html>